/*CSS HOMEPAGE*/
.HomePage{

}
.HomePage .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.HomePage .lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*CSS classe TITOLO*/
.header{
    width: 100vw;
    margin: 0;
}

/*CSS classe MAIN*/
.main h2{
    border-radius: 25px;
    display: inline-block;
    width: 400px;
    text-align: center;

}

.main p{
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid var(--button-primary);

}
.colore1{
    background-color: var(--button-primary);
    color: var(--text);
}
.colore2{
    background-color: var(--hover-accent);
    color: var(--background);
}
.colore3{
    background-color: var(--button-primary-light);
    color: var(--background);
}




/*CSS classe LISTA*/
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* oppure 'center' o 'space-around' */
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.scrittrice, .volontariato {
    color: var(--text);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--button-primary);
    text-align: center;

}
.scrittrice {
    width: 430px;
}





