.progettini{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(auto, auto);
    padding-top: 50px;
    padding-bottom: 50px;
    justify-items: center;
    row-gap: 50px;
}

.itemCard{
    display: flex;
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--color-card-alt);
    border-radius: 10px;
    padding: 20px;


}

.itemThumbnail{
    width: 30%;

}
.itemThumbnail:hover{
    transition: transform 0.5s ease;
    cursor: pointer;
    transform: translateY(-25%) scale(2.5);
}

.itemInfo{
    padding-left:10px;
    width: 100%;
}

.h5{
    font-family: var(--sottotitolo);
}

.p{
    font-family: var(--font-base);
}