.titolo header {
    background-color: var(--background-alt);
    display: flex;
    justify-content: space-between;
    color: var(--mauve-3);
    width: 100%;

}

.titolo a {
    display: flex;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
}


.titolo nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.titolo h1 {
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: var(--button-primary-light);

}

#root {
    width: 100%;
}

body {
    margin: 0;
}

/*CSS PULSANTI TITOLO*/
#home {
    background-color: var(--button-primary);
    color: var(--text);
    border: 1px solid var(--button-primary-light);
    cursor: pointer;
}

#home:hover {
    background-color: var(--button-primary-hover);
}

#progetti {
    background-color: var(--hover-accent);
    color: var(--background);
    border: 1px solid var(--color-accent-hover);

    cursor: pointer;
}

#progetti:hover {
    background-color: var(--color-accent-hover);
    color: var(--section-dark);
}

#design {
    background-color: var(--button-primary-light);
    color: var(--background);
    border: 1px solid var(--text-soft);
    cursor: pointer;
}

#design:hover {
    background-color: var(--hover-highlight);
    color: var(--section-dark);
}