html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: var(--background-alt);
    padding: 20px;
    text-align: center;
}

.titolo{
    width: 100%;
}

.titolo header {
    background-color: var(--background-alt);
    display: flex;
    justify-content: space-between;
    color: var(--text-soft);
    width: 100%;

}

.titolo a {
    display: flex;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
}


.titolo nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.titolo h1 {
    justify-content: center;
    align-items: center;
    color: var(--button-primary-light);
    width: 100%;
}

#root {
    width: 100%;
}

/*CSS PULSANTI TITOLO*/
#home {
    background-color: var(--button-primary);
    color: var(--text);
    border: 1px solid var(--button-primary-light);
    cursor: pointer;
}

#home:hover {
    background-color: var(--button-primary-hover);
}

#progetti {
    background-color: var(--hover-accent);
    color: var(--background);
    border: 1px solid var(--color-accent-hover);

    cursor: pointer;
}

#progetti:hover {
    background-color: var(--color-accent-hover);
    color: var(--section-dark);
}

#design {
    background-color: var(--button-primary-light);
    color: var(--background);
    border: 1px solid var(--text-soft);
    cursor: pointer;
}

#design:hover {
    background-color: var(--hover-highlight);
    color: var(--section-dark);
}

.barra {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 100px; /* o 10vh, o come preferisci */
}

.logo {
    height: 100%; /* 80% dell'altezza della barra */
    width: auto;
    justify-content: center;
    align-items: center;
}
.logo:hover{
    transition: transform 0.5s ease;
    cursor: pointer;
    transform: translate(20%, 40%) scale(2.6);
}