.titolo header {
    background-color: var(--persian-indigo);
    display: flex;
    justify-content: space-between;
    color: var(--mauve-3);
}

.titolo a{
    display: flex;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;

}

.titolo nav{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}
#root{
    width: 100%;
}

body{
    margin: 0;
}

/*CSS PULSANTI TITOLO*/
#home{
    background-color: var(--french-violet);
}
#progetti{
    background-color: var(--pomp-and-power);
}
#design{
    background-color: var(--puce);
}