.HomePage {
}

.titolo header {
    background-color: var(--persian-indigo);
    display: flex;
    justify-content: space-between;
    color: var(--mauve-3);
}


.titolo button{
    display: flex;
    border: none;
    padding: 15px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.titolo nav{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#home{
    background-color: var(--french-violet);
}
#progetti{
    background-color: var(--pomp-and-power);
}
#design{
    background-color: var(--puce);
}

.main h1{
    color: var(--mauve-3);
}