/* Import Google Fonts: Inter, Quicksand, Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

:root {
    /* Font */
    --font-base: 'Inter', sans-serif;
    --titolo: 'Playfair Display', serif;
    --sottotitolo: 'Quicksand', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: var(--titolo);
    font-size: 48px;
}

h2,h3,h4,h5,h6 {
    font-family: var(--sottotitolo);
    color: var(--text-soft);
}

p {
    font-family: var(--font-base);
    color: var(--text);
}